html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

#mobile-menu {
    transition: all 0.3s ease-in-out;
}

.mobile-menu-button svg {
    transition: all 0.2s ease-in-out;
}

.nav-link-active {
    color: #4F46E5;
    border-color: #4F46E5;
}